header{
    background:rgb(27, 26, 26);
    width: 100%;
    position: fixed;
    z-index: 100;
}
nav{
    float: left;
}
nav ul{
    list-style: none;
    overflow: hidden;
}
nav ul li{
    float: left;
    font-size: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: aliceblue;
}
nav ul li a{
    display: block;
    padding: 20px;
    color:aliceblue;
    text-decoration: none;
}
nav ul li:hover{
    background: rgb(253, 224, 58);
    color: black;
}
nav ul li a:hover{
    color: black;
}